body {
    background: linear-gradient(to right, #221A40, #2a1f5a);
    color: #5CE3F2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
h1 , h2{
    color: #8163BF;
    margin-bottom: 20px;
}

nav {
    background-color: #123859;
    padding: 15px 5%;
    position: relative;
}
nav div {
    display: flex;
    justify-content: center;
    gap: 30px;
}


nav div a {
    color: #7999D9;
    text-decoration: none;
    font-weight: 500;
    padding-bottom: 5px;
    transition: 0.3s;
}

nav div a:hover {
    color: #5CE3F2;
    border-bottom: 2px solid #8163BF; 
}
.gh{
    color: #5CE3F2;
}